<ion-header>
  <ion-toolbar color="success">
    <ion-title>Scroll Horizontal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- scroll -->
  <div>

    <div class="encabezado">
      <h4>Aplicaciones</h4>
      <ion-label color="primary">Ver mas</ion-label>
    </div>

    <div class="scroll-horizontal">

      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/facebook.png">
        <p class="ion-text-center">Facebook</p>
      </div>

      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/instagram.png">
        <p class="ion-text-center">Instagram</p>
      </div>
      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/snapchat.png">
        <p class="ion-text-center">Snapchat</p>
      </div>
      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/twitter.png">
        <p class="ion-text-center">Twitter</p>
      </div>
      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/whatsapp.png">
        <p class="ion-text-center">Whatsapp</p>
      </div>
      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/youtube.png">
        <p class="ion-text-center">YouTube</p>
      </div>

    </div>

  </div>

  <br><br>

  <!-- scroll -->
  <div>

    <div class="encabezado">
      <h4>Aplicaciones</h4>
      <ion-label color="primary">Ver mas</ion-label>
    </div>

    <div class="scroll-horizontal">

      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/facebook.png">
        <p class="ion-text-center">Facebook</p>
      </div>

      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/instagram.png">
        <p class="ion-text-center">Instagram</p>
      </div>
      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/snapchat.png">
        <p class="ion-text-center">Snapchat</p>
      </div>
      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/twitter.png">
        <p class="ion-text-center">Twitter</p>
      </div>
      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/whatsapp.png">
        <p class="ion-text-center">Whatsapp</p>
      </div>
      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/youtube.png">
        <p class="ion-text-center">YouTube</p>
      </div>

    </div>

  </div>

  <br><br>

  <!-- scroll -->
  <div>

    <div class="encabezado">
      <h4>Aplicaciones</h4>
      <ion-label color="primary">Ver mas</ion-label>
    </div>

    <div class="scroll-horizontal">

      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/facebook.png">
        <p class="ion-text-center">Facebook</p>
      </div>

      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/instagram.png">
        <p class="ion-text-center">Instagram</p>
      </div>
      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/snapchat.png">
        <p class="ion-text-center">Snapchat</p>
      </div>
      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/twitter.png">
        <p class="ion-text-center">Twitter</p>
      </div>
      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/whatsapp.png">
        <p class="ion-text-center">Whatsapp</p>
      </div>
      <div class="scroll-horizontal-item red-social">
        <img src="../../assets/img/youtube.png">
        <p class="ion-text-center">YouTube</p>
      </div>

    </div>

  </div><br>

</ion-content>
