<ion-header>
    <ion-toolbar color="danger">
        <ion-title class="ion-text-center">Textbox personalizados</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <!-- nativos -->
    <div>
        <h2>Nativos</h2>

        <!-- normal -->
        <ion-item>
            <ion-input placeholder="Normal"></ion-input>
        </ion-item>

        <!-- con label animado -->
        <ion-item>
            <ion-label position="floating">Con label animado</ion-label>
            <ion-input></ion-input>
        </ion-item>
        
        <!-- con label estatico -->
        <ion-item>
            <ion-label position="stacked">Con label estatico</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <!-- con icono -->
        <ion-item class="nativo">
            <ion-icon name="person"></ion-icon>
            <ion-input placeholder="Con icono"></ion-input>
        </ion-item>
    </div>

    <!-- redondeados -->
    <div>
        <h2>Redondeados</h2>

        <!-- normal -->
        <ion-item class="redondeado" lines="none">
            <ion-input placeholder="Normal"></ion-input>
        </ion-item>

        <!-- con label animado -->
        <ion-item class="redondeado" lines="none">
            <ion-label position="floating">Con label animado</ion-label>
            <ion-input></ion-input>
        </ion-item>
        
        <!-- con label estatico -->
        <ion-item class="redondeado" lines="none">
            <ion-label position="stacked">Con label estatico</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <!-- con icono -->
        <ion-item class="redondeado" lines="none">
            <ion-icon name="person"></ion-icon>
            <input type="text" placeholder="Con icono">
        </ion-item>
    </div>

    <!-- tipo card -->
    <div>
        <h2>Tipo card</h2>

        <!-- normal -->
        <ion-item class="tipo-card" lines="none">
            <ion-input placeholder="Normal"></ion-input>
        </ion-item>

        <!-- con label animado -->
        <ion-item class="tipo-card" lines="none">
            <ion-label position="floating">Con label animado</ion-label>
            <ion-input></ion-input>
        </ion-item>
        
        <!-- con label estatico -->
        <ion-item class="tipo-card" lines="none">
            <ion-label position="stacked">Con label estatico</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <!-- con icono -->
        <ion-item class="tipo-card" lines="none">
            <ion-icon name="person"></ion-icon>
            <input type="text" placeholder="Con icono">
        </ion-item>
    </div>

</ion-content>

