ion-toolbar {
  --background: transparent;
}

.banner {
  background-image: url("../../assets/img/banner.png");
  background-size: cover;

  ion-title {
    color: whitesmoke;
  }
}

.banner-text {
  color: whitesmoke;
  text-shadow: 2px 2px 4px black;
}

.contenedor-principal {
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
  margin-top: -15px;
  margin-bottom: 15px;
}
